<div class="jumbotron">
  <h1 class="display-4">{{stuff.companyName}} ({{ stuff.symbol}})</h1>
  <p class="lead"><br/>
<strong>Latest Price: </strong>{{ stuff.latestPrice}}<br/>
<strong>Previous Close: </strong>{{ stuff.previousClose}}<br/>
<strong> Percent Change: </strong>{{ stuff.changePercent}}%<br/>
<strong> Market Cap: </strong>{{ stuff.marketCap}}$<br/>
<strong>YTD Change: </strong>{{ stuff.ytdChange}}%<br/>
<strong> 52 week high: </strong>{{ stuff.week52High}}<br/>
<strong>52 week low: </strong>{{ stuff.week52Low}}<br/>
<br/> <br/></p>
  <hr class="my-4">
  <p>Will Boeing bounce back?</p>
</div>
